body
{
    background: #E2E8DD;
}
.div_header
  {
    font-family: 'Dancing Script', cursive;
  background: #92bfc2;
  color: white; 
  }

  .div_header p{
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  #botun{
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #434e58;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #cab9b9;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
